/* Azzero le proporzioni che da la pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Metto l'immagine alla mia pagina */
body {
   background-image: url(background.jpg);
   background-size: cover ;
   background-repeat: no-repeat;
}

/* Creo un contenitore dove andra messo tutto il mio contenuto */
#contenitorePrincipale{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 50px;
    padding: 40px;   
}

/* Metto in centro alla pagina il contenuto */
#contenitoreImg {
    text-align: center;
}

/* Do colore al titolo */
h1 {
    color: rgb(5, 199, 5);
}

/* Contenutore dove andranno i clienti a digitare i pulsanti */
header {
    text-align: center;
    background-color: rgb(5, 199, 5);
    padding: 5px;
}

/* Spazio tra il contenuto e il contenitore */
.pulsanti {
    padding: 2px;
}

/* % Della carica del monopattino Gino22 */
.carica1 {
    width: 200px;
    height: 20px;
    background-color: orange;
    border-radius: 3px;
}

/* % Della carica del monopattino Mike24 */
.carica2 {
    width: 350px;
    height: 20px;
    background-color: rgb(5, 199, 5);
    border-radius: 3px;
}

/* % Della carica del monopattino Fede154 */
.carica3 {
    width: 100px;
    height: 20px;
    background-color: red;
    border-radius: 3px;
}

/* Tolgo i punti alle liste*/
li {
    list-style: none;
}

/* Spazio superiore di ogni contenitore dei monopattini*/
.contenitore1, .contenitore2, .contenitore3 {
    padding-top: 20px;
}

/* Colore e Spazio alle scritte */
strong, p {
    color: white;
    margin: 2px;
}

