/* Azzero le grandezze predefinite */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colore sfondo */
body {
    background-color: antiquewhite;    
}

/* Colore e centrature del header */
.cont-header {
    text-align: center;
    background-color: aquamarine;
    padding: 40px;
}

/* Modifiche contenitore Info */
.cont-informazioni {
    margin-left: 40px;
    height: 100vh;
}

/* Spazio tra le Sezioni */
section {
    margin-top: 30px;
}

/* Colore ai titoli h2 */
h2 {
    color: rgb(7, 84, 84);
}

/* Tolgo punti alle liste */
li {
    list-style: none;
}