/* Azzero le proporzioni che da la pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colore Sfondo */
body {
    background-color: rgb(212, 206, 206);
}

/* Sposto il Conteniore Pricipali dal margine */
.genitorePrincipale {
    margin: 20px;
}

/* Genitore 1 */
.cont-1 {
    background-image: url(NAPOLI.jpg);
    background-size: cover;
    height: 300px;
    position: relative;
}

/* Accentro il Figlio 1 */
.napoli {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 3px;
}

/* Genitore 2 */
.cont-2 {
    background-image: url(BARCELLONA.jpg);
    background-size: cover;
    height: 300px;
    position: relative;
}

/* Accentro il Figlio 2 */
.barcellona {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 3px;
}

/* Genitore 3 */
.cont-3 {
    background-image: url(CALIFORNIA.jpg);
    background-size: cover;
    height: 300px;
    position: relative;
}

/* Accentro il Figlio 3 */
.california {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 3px;
}

